* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 350px;
}

p {
  font-family: $primary-font;
}

ul {
  list-style: none;
}

li {
  margin: 0 12px;
  a {
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
  }
  a:focus {
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
  }
  a:hover {
    color: #aaa;
    text-decoration: none;
    transition: ease-in-out 0.3s;
  }
}

a:hover {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  background: white;
  article[class^="col-"] {
    align-items: center;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img[class^="col-"] {
    padding: 0;
  }
}

.section-title {
  text-transform: uppercase;
  font-family: $primary-font;
  color: #444;
}

.banner-1 {
  height: 450px;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/banner-1.jpg");
}

.banner-2 {
  height: 450px;
  background-position: center;
  background-size: cover;
  background-image: url("/assets/banner-2.jpg");
}

.rating {
  color: #ff7218;
  font-size: 1.5em;
}

.btn-primary.custom-btn {
  text-transform: uppercase;
  margin-top: 20px;
  background-color: #ac5fd0;
  border-color: #ac5fd0;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  height: 450px;
  overflow: hidden;
}

.md-badge {
  height: 48px;
  margin: 10px;
}

.md-badge:hover {
  height: 60px;
  transition: ease-in-out 0.5s;
}

.icon-wrapper {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  border: 1px solid #9964aa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px;
}

.icons-wrapper {
  position: relative;
  left: 1000px;
  top: 0;
  transition: "1s ease-in-out";
}

.reviews {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .icons-wrapper {
    justify-content: center;
  }
  .icons-container {
    justify-content: center;
  }
  .reviews {
    align-items: center;
    justify-content: center;
  }
  .md-badge:hover {
    height: 48px;
  }

  .icon-wrapper {
    height: 64px;
    width: 64px;
    margin: 32px;
  }
}
